type: file
name: file_default
log_level: info
format: |
  {{range . -}}
    {{$alert := . -}}
    {{range .Decisions -}}
      { "crowdsec": { "program": "crowdsec", "machine_id": "{{$alert.MachineID}}", "stop_at": "{{$alert.StopAt}}", "scenario": "{{.Scenario}}", "value": "{{.Value}}", "type": "{{.Type}}", "duration": "{{.Duration}}" } }
    {{end -}}
  {{ end -}}
log_path: "{{ crowdsec_notification_file_path }}"
rotate:
  enabled: true
  max_size: {{ crowdsec_notification_file_rotate_max_size }}
  max_files: {{ crowdsec_notification_file_rotate_max_files }}
  max_age: {{ crowdsec_notification_file_rotate_max_age }}
  compress: true
