# Vorlage: nach ansible/hostvars/author.geller.men.yml kopieren (wird ignoriert).
domain: "author.geller.men"
easy_author_enabled: true
easy_author_api_image_repository: "easy-author-api"
easy_author_web_image_repository: "easy-author-web"
easy_author_basic_auth_username: "andy"
easy_author_basic_auth_password_hash: "BCRYPT_HASH_HIER_EINTRAGEN"
easy_author_basic_auth_realm: "EasyAuthor Staging"
easy_author_instance_root: "/srv/easy-author/author.geller.men"
easy_author_backup_retention: 7
easy_author_smoke_retries: 20
easy_author_smoke_delay_seconds: 3
