# Hostvars-Block fuer {{ domain }} (Static Inline Editor)
static_editor_enabled: true
static_editor_login_domain: "bearbeitung.{{ domain }}"
static_editor_aliases: []
static_editor_static_root: "/srv/static/{{ domain }}"
static_editor_undo_backups: "/srv/editor-undo-archive/{{ domain }}"
static_editor_repo_root: "/srv/static/{{ domain }}"
static_editor_from_email: ""
static_editor_allowed_emails: []
static_editor_cookie_secret: ""
static_editor_start_path: "/index.html"
static_editor_main_selector: "main, article, .content, body"
static_editor_allowed_block_tags: "div,section,article,blockquote,h1,h2,h3,h4,h5,h6,p,ul,ol,li"
static_editor_allowed_inline_tags: "strong,em,a,br"
