---
- name: Create MySQL data volume
  community.docker.docker_volume:
    name: mysql_data

- name: Create backend docker network
  community.docker.docker_network:
    name: backend
    driver: bridge
    attachable: true
    state: present

- name: Start MySQL container
  community.docker.docker_container:
    name: ghost-mysql
    image: mysql:8.0
    restart_policy: always
    env:
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "127.0.0.1:3306:3306"
    networks:
      - name: backend
        aliases:
          - mysql
