---
- name: Create MySQL data volume
  docker_volume:
    name: mysql_data

- name: Start MySQL container
  docker_container:
    name: ghost-mysql
    image: mysql:8.0
    restart_policy: always
    env:
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "127.0.0.1:3306:3306"
    networks:
      - name: web
